.flex {
  display: flex;
  align-items: center;
}
.flex-direction-column {
  flex-direction: column;
}
.flex-direction-row {
  flex-direction: row;
}
.justify-content-space-between {
  justify-content: space-between;
}
.justify-content-space-around {
  justify-content: space-around;
}
.justify-content-center {
  justify-content: center;
}
.justify-content-flex-start{
  justify-content: flex-start;
}
.text-description{
  font-size: 1.3rem;
  font-weight: 400;
  color:var(--gray-color-2);
  margin-top: 2rem;
}
.gap-1{
  gap: 1rem;
}
.gap-2{
  gap: 2rem;
}
.gap-3{
  gap: 3rem;
}
.gap-4{
  gap: 4rem;
}
.gap-5{
  gap: 5rem;
}

.grid {
  display: grid;
}
.text-align-center{
  text-align: center;
}
